<!DOCTYPE html>
<div class="registrationForm">
        <form [formGroup]="registrationForm">
            <label>
                Name : 
                <input type="text" formControlName="name" id= "name">
            </label>
            <label>
                    Phone : 
                    <input type="text" formControlName="phoneNumber" id= "phoneNumber">
            </label>
            <label>
                    Company : 
                    <input type="text" formControlName="company" id= "company">
            </label>
            <label>
                    City : 
                    <input type="text" formControlName="city" id= "city">
            </label>
            <label>
                    Email : 
                    <input type="text" formControlName="emailID" id= "emailID">
            </label>
                
            <label>
                    Password : 
                    <input type="password" formControlName="Password" id= "password">
            </label>
        </form>
    </div>